<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SporRnDemo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoMono-Italic.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>VyDisplay-Medium.otf</string>
		<string>VyDisplay-Medium.ttf</string>
		<string>VyDisplay-Medium.woff</string>
		<string>VyDisplay-Medium.woff2</string>
		<string>VySans-Bold.otf</string>
		<string>VySans-Bold.ttf</string>
		<string>VySans-Bold.woff</string>
		<string>VySans-Bold.woff2</string>
		<string>VySans-BoldItalic.otf</string>
		<string>VySans-BoldItalic.ttf</string>
		<string>VySans-BoldItalic.woff</string>
		<string>VySans-BoldItalic.woff2</string>
		<string>VySans-Light.otf</string>
		<string>VySans-Light.ttf</string>
		<string>VySans-Light.woff</string>
		<string>VySans-Light.woff2</string>
		<string>VySans-LightItalic.otf</string>
		<string>VySans-LightItalic.ttf</string>
		<string>VySans-LightItalic.woff</string>
		<string>VySans-LightItalic.woff2</string>
		<string>VySans-Regular.otf</string>
		<string>VySans-Regular.ttf</string>
		<string>VySans-Regular.woff</string>
		<string>VySans-Regular.woff2</string>
		<string>VySans-RegularItalic.otf</string>
		<string>VySans-RegularItalic.woff</string>
		<string>VySans-RegularItalic.woff2</string>
	</array>
</dict>
</plist>
