version: 2.1
parameters:
  ecr_repo_name:
    type: string
    default: "digitalekanaler-spor"
  ecr_endpoint:
    type: string
    default: "635004941268.dkr.ecr.eu-west-1.amazonaws.com"

jobs:
  validate-terraform:
    docker:
      - image: vydev/terraform:1.0.8
    steps:
      - checkout:
          path: ~/repo
      - run:
          name: Validate terraform code
          command: |
            printf "Validating terraform code\n"
            cd ~/repo/apps/docs/terraform/prod
            terraform init -backend=false && terraform validate

  build-docker:
    parameters:
      ecr_repo_name:
        type: string
        description: "The name of the ECR repository to push Docker images to"
      ecr_endpoint:
        type: string
        description: "The ECR endpoint to use (note: the CircleCI project environment variable ECR_ENDPOINT takes higher precedence than this parameter)."
        default: ""
    docker:
      - image: 'vydev/circleci-ecr:latest'
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    working_directory: /tmp/workspace/apps/docs
    steps:
      - setup_remote_docker:
          version: 19.03.13
          docker_layer_caching: true
      - checkout:
          path: ../../
      - run:
          name: "Build Docker image"
          command: |
            ECR_ENDPOINT="${ECR_ENDPOINT:-<< parameters.ecr_endpoint >>}"
            if [ -z "$ECR_ENDPOINT" ]; then
              echo "ECR endpoint has not been set"
              exit 1
            fi
            aws ecr get-login-password --region eu-west-1 \
              | docker login --username AWS --password-stdin "$ECR_ENDPOINT"
            SHORT_SHA1=`echo ${CIRCLE_SHA1}|cut -c1-7`
            docker build --no-cache -t ${ECR_ENDPOINT}/<< parameters.ecr_repo_name >> -f Dockerfile .
            docker tag ${ECR_ENDPOINT}/<< parameters.ecr_repo_name >> "${ECR_ENDPOINT}/<< parameters.ecr_repo_name >>:commit-${SHORT_SHA1}"
            docker push "${ECR_ENDPOINT}/<< parameters.ecr_repo_name >>:commit-${SHORT_SHA1}"
            docker tag ${ECR_ENDPOINT}/<< parameters.ecr_repo_name >> "${ECR_ENDPOINT}/<< parameters.ecr_repo_name >>:latest"
            docker push "${ECR_ENDPOINT}/<< parameters.ecr_repo_name >>:latest"


workflows:
  version: 2
  build:
    jobs:
      - validate-terraform
      - build-docker:
          context: omnikanal
          ecr_repo_name: << pipeline.parameters.ecr_repo_name >>
          ecr_endpoint: << pipeline.parameters.ecr_endpoint >>
          requires:
            - validate-terraform
          filters:
            branches:
              only:
                - main
