artifacts:
  - name: spor-tf
    branch: old_spor_deploy
    location: s3
  - name: spor
    branch: old_spor_deploy
    location: ecr

steps:
  - terraform:
      artifact: spor-tf
      version: 1.8.4

environments:
  - [service]
  - [prod]
