/* This should probably be fixed somewhere else but is the only way to fix the layout issues with react-live */
.prism-code {
  white-space: pre-wrap !important;
}

img {
  border-radius: 12px;
}

html {
  /* Reserves space for the scrollbar without forcing it to always show */
  scrollbar-gutter: stable;
  overflow-y: auto; /* Or scroll if you want it always visible as a fallback */
}
