name: "Deployment \U0001F680"
"on":
  push:
    branches:
      - master
      - main

jobs:
  terraform-changes:
    uses: nsbno/platform-actions/.github/workflows/helpers.find-changes.terraform.yml@main
    secrets: inherit
    with:
      working-directory: ./apps/designmanual-frontend

  package:
    uses: nsbno/platform-actions/.github/workflows/package.docker.yml@main
    secrets: inherit
    with:
      ecr-repo-name: designmanual
      dockerfile: ./apps/designmanual-frontend/Dockerfile

  deploy:
    needs:
      - terraform-changes
      - package
    uses: nsbno/platform-actions/.github/workflows/deployment.all-environments-ecs.yml@main
    secrets: inherit
    if: "!cancelled() && !contains(needs.*.results, 'failure') && success()"
    with:
      terraform-changes: ${{ needs.terraform-changes.outputs.has-changes }}
      working-directory: ./apps/designmanual-frontend
      skip-static-files-deployment: true
