name: Deploy to Test Environment
on:
  issue_comment:
    types:
      - created

jobs:
  deploy-to-test:
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '.deploy')
    uses: nsbno/platform-actions/.github/workflows/deployment.branch-deploy.on-comment.yml@v2
    secrets: inherit
    with:
      working-directory: ./apps/designmanual-frontend
      skip-static-files-deployment: true

  preview-comment:
    if: ${{ github.event.issue.pull_request && startsWith(github.event.comment.body, '.preview') }}
    secrets: inherit
    uses: nsbno/platform-actions/.github/workflows/deployment.preview.on-comment.yml@v2
    with:
      working-directory: ./apps/designmanual-frontend
