name: Pull Request
on:
  pull_request:
    types: [opened, synchronize, closed]

jobs:
  package:
    if: ${{ github.event.action != 'closed' }}
    uses: nsbno/platform-actions/.github/workflows/package.docker.yml@v2
    secrets: inherit
    with:
      ecr-repo-name: designmanual
      dockerfile: ./apps/designmanual-frontend/Dockerfile

  terraform-plan:
    if: ${{ github.event.action != 'closed' }}
    uses: nsbno/platform-actions/.github/workflows/helpers.terraform-plan.yml@v2
    secrets: inherit
    with:
      working-directory: ./apps/designmanual-frontend

  preview-update:
    if: ${{ github.event.action == 'synchronize' }}
    needs:
      - package
    uses: nsbno/platform-actions/.github/workflows/deployment.preview.yml@v2
    with:
      working-directory: ./apps/designmanual-frontend

  preview-cleanup:
    if: ${{ github.event.action == 'closed' }}
    uses: nsbno/platform-actions/.github/workflows/deployment.preview-cleanup.yml@v2
    with:
      working-directory: ./apps/designmanual-frontend
